.post-transltation {
    display: inline-block;
    width: 100%;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 1.05em;
    margin: 0 0 25px 0;
    color: #fff;
    background-color: #db3939;
    text-align:center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.post-transltation:hover,
.post-transltation:active {
    color: #fff;
    background-color: #444;
}